body {
  color: rgba(254, 94, 94, 0.824);
  font-size: 40pt;
  margin: 20pt;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: 'gemini_moon', sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'helvetica',
    monospace;
}

